<div class="container" style="width: 1200px">
	<div class="mb-1">
		<!-- Modal de confirmación -->
		<app-confirm-modal
			*ngIf="showModal"
			[message]="message"
			[showModal]="showModal"
			(confirmAction)="confirmarEliminacion($event)"
		></app-confirm-modal>

		<!-- Título principal -->
		<h2 class="text-center mt-1">Listado de Eventos</h2>

		<!-- Contenedor principal -->
		<div class="container mt-3">
			<!-- Fila principal: Botón y filtros en la izquierda, búsqueda y selector de filas en la derecha -->
			<div class="d-flex justify-content-between">
				<!-- Columna izquierda: Botón de crear evento y filtros -->
				<div class="d-flex flex-column align-items-start">
					<!-- Botón para crear nuevo evento -->
					<button
						*ngIf="isOrganizer"
						class="btn btn-success w-auto mb-3"
						[routerLink]="['/eventos/create']"
					>
						Crear Nuevo Evento
					</button>

					<!-- Menú desplegable para filtrar eventos -->
					<div class="input-group d-flex align-items-center mb-3" style="width: 400px">
						<label for="filtroEventos" class="me-2"
							>Filtrar eventos:</label
						>
						<select
							id="filtroEventos"
							class="form-select"
							[(ngModel)]="filtroEventos"
							(change)="cambiarFiltro()"
						>
							<option value="todos">Todos los eventos</option>
							<option value="participo">
								Eventos en los que participo
							</option>
							<option value="noParticipo">
								Eventos en los que no participo
							</option>
						</select>
					</div>

					<!-- Filtros por fecha -->
					<div class="d-flex mb-2">
						<div class="input-group align-items-center" style="width: 250px">
							<span class="me-2">Desde:</span>
							<input
								type="date"
								class="form-control"
								[(ngModel)]="fechaInicio"
								(ngModelChange)="aplicarFiltro()"
								aria-label="Fecha de inicio"
							/>
						</div>
						<div class="input-group align-items-center" style="width: 250px">
							<span class="me-2 ms-2">Hasta:</span>
							<input
								type="date"
								class="form-control"
								[(ngModel)]="fechaFin"
								(ngModelChange)="aplicarFiltro()"
								aria-label="Fecha de fin"
							/>
						</div>
					</div>
				</div>

				<!-- Columna derecha: Búsqueda y selector de número de filas -->
				<div
					class="d-flex flex-column justify-content-end mb-2 align-items-end"
					style="width: 45%"
				>
					<!-- Filtro de búsqueda por nombre, ubicación o descripción -->
					<div class="input-group mb-3" style="width: 400px">
						<input
							type="text"
							class="form-control"
							placeholder="Buscar por nombre, ubicación o descripción..."
							[(ngModel)]="filtro"
							(ngModelChange)="aplicarFiltro()"
							aria-label="Buscar"
						/>
					</div>

					<!-- Selector de número de filas por página -->
					<div class="d-flex align-items-center">
						<span class="me-2">Número de filas:</span>
						<select
							class="form-select"
							[(ngModel)]="tamanoPagina"
							(change)="actualizarTamanoPagina()"
							style="width: 80px"
						>
							<option
								*ngFor="let option of opcionesFilas"
								[value]="option"
							>
								{{ option }}
							</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Tabla de eventos -->
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr class="text-center">
					<th
						scope="col"
						(click)="ordenarPor('nombre')"
						[ngClass]="{
							'text-primary': columnaOrdenada === 'nombre'
						}"
						style="cursor: pointer"
					>
						Nombre
					</th>
					<th
						scope="col"
						(click)="ordenarPor('fecha')"
						[ngClass]="{
							'text-primary': columnaOrdenada === 'fecha'
						}"
						style="cursor: pointer"
					>
						Fecha
					</th>
					<th
						scope="col"
						(click)="ordenarPor('ubicacion')"
						[ngClass]="{
							'text-primary': columnaOrdenada === 'ubicacion'
						}"
						style="cursor: pointer"
					>
						Ubicación
					</th>
					<th
						scope="col"
						(click)="ordenarPor('descripcion')"
						[ngClass]="{
							'text-primary': columnaOrdenada === 'descripcion'
						}"
						style="cursor: pointer"
					>
						Descripción
					</th>
					<th
						class="text-center justify-content-center align-items-center"
						scope="col"
					>
						Acciones
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" *ngFor="let evento of eventos">
					<td>{{ evento.nombre }}</td>
					<td>{{ formatearFecha(evento.fecha.toString()) }}</td>
					<td>{{ evento.ubicacion }}</td>
					<td>{{ evento.descripcion }}</td>
					<td class="d-flex text-center">
						<div
							class="justify-content-center centered d-flex justify-content-center align-items-center"
						>
							<button
								class="btn btn-sm btn-primary me-2"
								title="Ver detalles"
								(click)="unirseAEvento(evento.idEvento)"
							>
								<i class="bi bi-chevron-left"></i>
							</button>
							<button
								*ngIf="isOrganizer"
								class="btn btn-sm btn-warning me-2"
								title="Editar evento"
								(click)="editarEvento(evento.idEvento)"
							>
								<i class="bi bi-pencil"></i>
							</button>
							<button
								*ngIf="isOrganizer"
								class="btn btn-sm btn-secondary me-2"
								title="Ver participantes"
								(click)="verParticipaciones(evento.idEvento)"
							>
								<i class="bi bi-eye"></i>
							</button>
							<button
								*ngIf="isOrganizer"
								title="Eliminar asistente"
								class="btn btn-danger btn-sm"
								(click)="eliminarEvento(evento)"
							>
								<i class="bi bi-trash"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Paginación -->
	<nav *ngIf="totalPaginas > 1" aria-label="Paginación de asistentes">
		<ul class="pagination justify-content-center">
			<!-- Botón de página anterior -->
			<li class="page-item" [ngClass]="{ disabled: paginaActual === 1 }">
				<button
					class="page-link btn btn-sm btn-outline-primary me-2"
					[ngStyle]="{
						backgroundColor:
							paginaActual === 1 ? '#A5D6A7' : '#33691e',
						color: paginaActual === 1 ? '#000000' : 'white'
					}"
					(click)="cambiarPagina(paginaActual - 1)"
				>
					<i class="bi bi-chevron-left"></i> Anterior
				</button>
			</li>

			<!-- Botones de páginas -->
			<li
				*ngFor="let pagina of paginas"
				class="page-item"
				[ngClass]="{ active: pagina === paginaActual }"
			>
				<button
					class="page-link btn btn-sm btn-outline-primary me-2"
					[ngStyle]="{
						backgroundColor:
							pagina === paginaActual ? '#33691e' : '#A5D6A7',
						color: pagina === paginaActual ? 'white' : 'gray'
					}"
					(click)="cambiarPagina(pagina)"
				>
					{{ pagina }}
				</button>
			</li>

			<!-- Botón de página siguiente -->
			<li
				class="page-item"
				[ngClass]="{ disabled: paginaActual === totalPaginas }"
			>
				<button
					class="page-link btn btn-sm btn-outline-primary me-2"
					[ngStyle]="{
						backgroundColor:
							paginaActual === totalPaginas
								? '#A5D6A7'
								: '#33691e',
						color:
							paginaActual === totalPaginas ? '#000000' : 'white'
					}"
					(click)="cambiarPagina(paginaActual + 1)"
				>
					Siguiente <i class="bi bi-chevron-right"></i>
				</button>
			</li>
		</ul>
	</nav>
</div>
