<div
	class="container-fluid d-flex justify-content-center align-items-center mt-5"
>
	<div class="container">
		<ng-container *ngIf="isLoading; else content">
			<!-- Spinner de carga -->
			<div class="d-flex justify-content-center">
				<div class="spinner-border" role="status">
					<span class="visually-hidden">Cargando...</span>
				</div>
			</div>
		</ng-container>

		<ng-template #content>
			<div *ngIf="!isLoggedIn; else loggedInTemplate">
				<!-- Vista cuando el usuario no está logueado -->
				<div class="alert alert-info text-center">
					<h3>¡Bienvenido! Por favor, inicia sesión o regístrate.</h3>
					<p>
						Si ya tienes una cuenta,
						<a href="/login" style="color: #407900"
							>Inicia sesión</a
						>
					</p>
					<p>
						Si no tienes cuenta,
						<a href="/registrar" style="color: #407900"
							>Regístrate aquí</a
						>
					</p>
				</div>
			</div>

			<!-- Vista cuando el usuario está logueado -->
			<ng-template #loggedInTemplate>
				<h1 class="text-center mb-4" style="color: #4caf50">
					Bienvenido a la Gestión de Eventos
				</h1>

				<div
					class="row row-cols-1 justify-content-center row-cols-md-3 g-4"
				>
					<div class="col">
						<div
							class="card shadow-sm"
							style="border-top: 5px solid #4caf50"
						>
							<div class="card-body">
								<h5 class="card-title" style="color: #cddc39">
									Eventos Programados
								</h5>
								<p class="card-text" style="font-size: 1.2rem">
									Actualmente tenemos
									<strong>{{ cantidad }}</strong>
									eventos programados para este año.
								</p>

								<a
									href="/eventos"
									class="btn justify-content-center text-center centered d-flex justify-content-center align-items-center"
									style="
										background-color: #4caf50;
										color: white;
									"
									>Ver Eventos</a
								>
							</div>
						</div>
					</div>

					<div class="col">
						<div
							class="card shadow-sm"
							style="border-top: 5px solid #4caf50"
						>
							<div class="card-body">
								<h5 class="card-title" style="color: #cddc39">
									Próximos Eventos
								</h5>
								<ul class="list-unstyled">
									<li *ngFor="let evento of proximosEventos">
										<strong>{{ evento.nombre }}</strong> -
										{{ evento.fecha | date : "longDate" }} -
										<i>{{ evento.ubicacion }}</i>
									</li>
								</ul>

								<a
									href="/eventos"
									class="btn justify-content-center text-center centered d-flex justify-content-center align-items-center"
									style="
										background-color: #4caf50;
										color: white;
									"
									>Ver Todos</a
								>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
		</ng-template>
	</div>
</div>
